[url "https://gh-proxy.com/github.com/"]
	insteadOf = https://github.com/
[user]
	name = MakiWinster
	email = makiiiiiiiho@gmail.com
; [http]
; 	proxy = http://127.0.0.1:7897
; [https]
; 	proxy = http://127.0.0.1:7897
[core]
	editor = nvim
