[Desktop Entry]
Version=1.5.11
Name=Cursor
Comment=Cursor Application
Exec=/home/maki/applications/Cursor-1.5.11-x86_64.AppImage
Icon=/home/maki/path/to/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;

