layout {
    background-color "transparent"

    focus-ring {
        active-color   "#874b6c"
        inactive-color "#827379"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#874b6c"
        inactive-color "#827379"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#874b6c"
        inactive-color "#827379"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#874b6c80"
    }
}

recent-windows {
    highlight {
        active-color   "#6c3454"
        urgent-color   "#ba1a1a"
    }
}